



<nav class="navbar navbar-expand-lg shadow-sm  main-navbar"  style=" z-index:20;  background-color:#fff;  width:100%;  left:0px;"><!---navbar-expand-lg on medium navbar-expand-xg on extra lorge screen--->

  <a   style="z-index:21;" class="navbar-brand" routerLinkActive="active" routerLink="sign-in"> <i class="fa fa-bar">O</i></a>

  <button  class="navbar-toggler nav-toggle-btn" type="button"
   data-toggle="collapse" data-target="#navbarContentContainer"
   aria-controls="navbarContentContainer"
   aria-expanded="false"
   aria-label="Togglenavigation"
   onclick="togglerTopen()"
   >



  <div class="bar-line">---</div>
   <div class="bar-line">-----</div>
   <div class="bar-line">-------</div>

  </button>




   <div class="collapse navbar-collapse" id="navbarContentContainer">
    <ul class="navbar-nav mr-auto " >


      <li class="nav-item">
        <a   class="nav-link" routerLinkActive="active" routerLink="sign-up">Sign Up</a>&nbsp;&nbsp;
        </li>



      <li class="nav-item">
        <a   class="nav-link" routerLinkActive="active" routerLink="request-reset-password">Reset Password</a>&nbsp;&nbsp;
      </li>


      <li class="nav-item">
        <a   class="nav-link" routerLinkActive="active" routerLink="sign-in">sign in</a>&nbsp;&nbsp;
      </li>
    </ul>







</div>

</nav>

























<div>

  <div>
    <router-outlet></router-outlet>
    </div>

</div>

